<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/api/health" />
    </applicationInitialization>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\tnmt_qn.dll" hostingModel="inprocess" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 6ebbeca9-adfb-41c2-909b-0f10d19d9bdc-->